@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
}
header > h1{
    font-variant: small-caps;
}
header > p{
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
section > p{
    margin-left: 20px;
    padding: 10px;
    line-height: 2em;
}
section.normal{
    background-color: white;
}
section.imagem{
    background-color: rgb(100, 100, 100);
    color: white;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.363);
    width: 400px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
