@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-1 li{
    display: inline-block;
    text-align: center;
    font-size: 32px;
    padding: 20px;
}
.menu-1{
    background-color: rgb(27, 0, 146);
    color: white;
    text-align: center;
}
.img{
    text-align: center;
}
p{
    display: none;
}
